@model DonorVM

<div class="donor_info_card d-flex">

	<div class="donor_info_logo">

		<img src="@Model.Logo" />

	</div>

	<div class="donor_info d-flex flex-column ">

		<span class="donor_info_name">@Model.Surname @Model.Name</span>

		<span class="donor_info_username">@@@Model.Username</span>

		<div class="d-flex align-items-center">
			@foreach (var media in Model.Media)
			{
				<a href="@media.Media_Url" target="_blank">
					<div class="donor_media_logo">
						<img src="@media.Media_Type?.Donor_Media_Type_Image" />
					</div>
				</a>
			}
		</div>
	</div>

</div>
