@model FundVM

<div class="card d-flex flex-column" style="height: 450px; width: 360px; padding: 10px; margin: 20px">

	<div class="poster w-100">

		<img style="object-fit: cover; width: 100%; height:130px" src="@Model.Fund.Fund_Poster" />

	</div>

	<div class="d-flex justify-content-between">

		<div class="underpost">

			<i class="bi bi-clipboard-data icon"></i>

			<span>10</span>

		</div>

		<div class="fund_logo">

			<img src="@Model.Fund.Fund_Logo" />

		</div>

		<div class="underpost">

			<i class="bi bi-people icon"></i>

			<span>1110</span>

		</div>

	</div>

	<div class="fund_name">

		<span>@Model.Fund.Fund_Name</span>

	</div>

	@if (Model.Fund.Fund_Members.Any())
	{
		<div class="fund_info d-flex align-items-center">

			<div class="info_text">

				<span>Owner:</span>

			</div>

			@foreach (var item in Model.Fund.Fund_Members?.Where(x => x.Member_Role?.Member_Role_Name == "Owner"))
			{
				var donor = Model.Fund_Members?.FirstOrDefault(x => x.Donor_ID == item.Donor_ID);

				<a tabindex="0" role="button" data-bs-toggle="popover"  data-bs-trigger="focus" data-bs-html="true" data-bs-content='@{
					await Html.RenderPartialAsync("../Donor/_DonorInfoPartial", donor);
				}'>

					<div class="info_avatar">

						<img src="@donor.Logo" />

					</div>

				</a>
			}

		</div>

		<div class="fund_info d-flex align-items-center">

			<div class="info_text">
				<span>Members:</span>
			</div>

			@foreach (var item in Model.Fund.Fund_Members?.Where(x => x.Member_Role?.Member_Role_Name == "Member"))
			{
				var donor = Model.Fund_Members?.FirstOrDefault(x => x.Donor_ID == item.Donor_ID);

				<a tabindex="0" role="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-html="true" data-bs-content='@{
					await Html.RenderPartialAsync("../Donor/_DonorInfoPartial", donor);
				}'>

					<div class="info_avatar">

						<img src="@donor.Logo" />

					</div>

				</a>
			}

		</div>
	}

	<div class="fund_info d-flex align-items-center">

		<div class="info_text">

			<span>Media:</span>

		</div>

		@foreach (var media in Model.Fund.Fund_Medias)
		{
			<a href="@media.Fund_Media_URL" target="_blank">

				<div class="info_avatar">

					<img src="@media.Media_Type.Media_Type_Image" />

				</div>

			</a>
		}
	</div>

	<a class="main_btn" asp-action="FundDetails" asp-controller="Fund" asp-route-fund_id="@Model.Fund.Fund_ID" style="width: 100%; margin: 0"><span style="font-size: 14px">View details</span> </a>

</div>

<style>
	.poster {
		width: 100%;
		height: 130px;
		overflow: hidden;
		border-radius: 10px 10px 0px 0px;
	}

	.fund_logo {
		width: 80px;
		height: 80px;
		border-radius: 40px;
		overflow: hidden;
		margin-top: -40px;
		z-index: 2;
	}

		.fund_logo img {
			width: 80px;
			height: 80px;
			object-fit: cover;
		}

	.underpost {
		max-width: 130px;
		width: 100%;
		height: 40px;
		background-color: #404040;
		color: white;
		border-radius: 0px 0px 10px 10px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

		.underpost > .icon {
			margin: 0 5px;
			font-size: 20px;
		}

		.underpost > span {
			margin: 0 5px;
			font-size: 12px;
		}

		.underpost > i::before {
			vertical-align: -0.125em !important;
		}

	.fund_name {
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		height: 60px;
		margin: 5px 0;
		color: #7FF66C;
		font-size: 20px;
	}

		.fund_name > span {
			font-family: Univermag !important;
		}

	.fund_info {
		height: 40px;
		width: 100%;
		padding: 5px 10px;
		border-radius: 10px;
		background-color: #404040;
		margin: 0 0 10px 0;
	}

	.info_text {
		font-size: 14px;
		max-width: 75px;
		width: 100%;
		color: #fff;
	}

	.info_avatar {
		width: 30px;
		height: 30px;
		margin-left: 10px;
		border-radius: 10000px;
		overflow: hidden;
	}

		.info_avatar > img {
			width: 30px;
			height: 30px;
			object-fit: cover;
		}
</style>
