@model FundVM

@{
	var edit = ViewBag.Edit;
}

<div class="card about_card d-flex flex-column justify-content-between">

	<div class="about_member d-flex flex-wrap flex-grow-1">

		<div class="about_owners d-flex flex-column">

			<span class="subtitle">Fund`s owner</span>

			<div class="d-flex">

				@foreach (var item in Model.Fund.Fund_Members?.Where(x => x.Member_Role?.Member_Role_Name == "Owner"))
				{
					var donor = Model.Fund_Members?.FirstOrDefault(x => x.Donor_ID == item.Donor_ID);
					@if (!edit)
					{
						<a tabindex="0" role="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-html="true" data-bs-content='@{
							await Html.RenderPartialAsync("../Donor/_DonorInfoPartial", donor);
						}'>

							<div class="about_logo">

								<img src="@donor.Logo" />

							</div>

						</a>
					}
					else
					{
						<div class="about_logo">

							<img src="@donor.Logo" />

						</div>
					}

				}

			</div>

		</div>

		<div class="about_members d-flex flex-column">

			<span class="subtitle">Fund`s members</span>

			<div class="d-flex">

				@if (edit)
				{
					<div class="about_logo d-flex justify-content-center align-items-center">

						<a class="main_link" data-bs-toggle="modal" data-bs-target="#AddFundMember" style="font-size: 30px"><i class="bi bi-plus-lg"></i></a>

					</div>
				}

				@foreach (var item in Model.Fund.Fund_Members?.Where(x => x.Member_Role?.Member_Role_Name == "Member"))
				{
					var donor = Model.Fund_Members?.FirstOrDefault(x => x.Donor_ID == item.Donor_ID);
					@if (!edit)
					{
						<a tabindex="0" role="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-html="true" data-bs-content='@{
							await Html.RenderPartialAsync("../Donor/_DonorInfoPartial", donor);
						}'>

							<div class="d-flex">

								<div class="about_logo">

									<img src="@donor.Logo" />

								</div>

							</div>

						</a>
					}
					else
					{
						<div class="d-flex">

							<div class="about_logo image_edit d-flex justify-content-center align-items-center">

								<img src="@donor.Logo" />

								<a class="icon_tool" asp-action="DeleteMember" asp-controller="FundMember" asp-route-fund_Member_id="@item.Fund_Member_ID" asp-route-_fund_id="@Model.Fund.Fund_ID"><i class="bi bi-trash3-fill"></i></a>

							</div>

						</div>
					}

				}

			</div>

		</div>

	</div>

	<div class="about_description d-flex flex-column">

		<span class="subtitle">About the fund</span>

		@if (!edit)
		{
			<p>@Model.Fund.Fund_Info</p>
		}
		else
		{
			<textarea asp-for="Fund.Fund_Info" class="input" rows="10" style="height: auto"></textarea>
		}

	</div>

	<div class="about_gallery d-flex flex-column">

		<span class="subtitle" style="margin: 0 40px 20px 40px">Gallery</span>

		<div id="carouselExampleAutoplaying" class="carousel slide">

			<div class="d-flex flex-column">

				<div class="d-flex justify-content-between">

					<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">

						<span class="carousel-control-prev-icon" aria-hidden="true"></span>

						<span class="visually-hidden">Previous</span>

					</button>

					<div class="carousel-inner">

						@{
							if (edit) Model.Fund.Fund_Images.Insert(0, new Fund_Image() { Image = "" });

							var images_group = Enumerable.Range(0, (Model.Fund.Fund_Images.Count + 3 - 1) / 3)
							.Select(n => Model.Fund.Fund_Images.Skip(n * 3).Take(3).ToList())
							.ToList();

							var edit_card = false;
						}
						@for (int i = 0; i < images_group.Count; i++)
						{
							if (i == 0)
							{
								<div class="carousel-item active" data="@images_group.Count">

									<div class="d-flex justify-content-between flex-wrap flex-grow-1">

										@for (int j = 0; j < images_group[i].Count; j++)
										{
											@if (!edit)
											{
												<div class="gallery_img">

													<img src="@images_group[i][j].Image">

												</div>
											}
											else
											{
												if (!edit_card)
												{
													<div class="gallery_img d-flex justify-content-center align-items-center">

														<a class="main_link" style="font-size: 30px" data-bs-toggle="modal" data-bs-target="#AddFundImage"><i class="bi bi-plus-lg"></i></a>

													</div>
													edit_card = true;

												}
												else
												{
													<div class="gallery_img image_edit d-flex justify-content-center align-items-center">

														<img src="@images_group[i][j].Image">

														<a class="icon_tool" asp-action="DeleteImage" asp-controller="FundImage" asp-route-fund_Image_id="@images_group[i][j].Fund_Image_ID" asp-route-_fund_id="@Model.Fund.Fund_ID"><i class="bi bi-trash3-fill"></i></a>

													</div>
												}
											}
										}

									</div>

								</div>
							}
							else
							{
								<div class="carousel-item">

									<div class="d-flex justify-content-between flex-wrap flex-grow-1">

										@for (int j = 0; j < images_group[i].Count; j++)
										{
											@if (!edit)
											{
												<div class="gallery_img">

													<img src="@images_group[i][j].Image">

												</div>
											}
											else
											{
												<div class="gallery_img image_edit d-flex justify-content-center align-items-center">

													<img src="@images_group[i][j].Image">

													<a class="icon_tool" asp-action="DeleteImage" asp-controller="FundImage" asp-route-fund_Image_id="@images_group[i][j].Fund_Image_ID" asp-route-_fund_id="@Model.Fund.Fund_ID"><i class="bi bi-trash3-fill"></i></a>

												</div>
											}
										}

									</div>

								</div>
							}
						}
						@{
							if(edit)Model.Fund.Fund_Images.RemoveAt(0);
						}
					</div>

					<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">

						<span class="carousel-control-next-icon" aria-hidden="true"></span>

						<span class="visually-hidden">Next</span>

					</button>

				</div>

				<div class="carousel-indicators">

					@for (int i = 0; i < images_group.Count; i++)
					{
						if (i == 0)
						{
							<button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
						}
						else
						{
							<button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="@i" aria-label="Slide @i"></button>
						}
					}

				</div>

			</div>

		</div>

	</div>

</div>

<style>
	.about_card {
		width: 100%;
		padding: 40px 0px;
	}

	.about_member {
		margin: 0 120px 60px 120px;
	}

	.about_owners {
		margin-right: 90px;
	}

	.subtitle {
		color: #7FF66C;
		font-family: Univermag;
		font-size: 20px;
		margin-bottom: 20px;
	}

	.about_logo {
		width: 140px;
		height: 140px;
		margin-right: 20px;
		border-radius: 10000px;
		overflow: hidden;
		background-color: #404040;
	}

		.about_logo > img {
			width: 140px;
			height: 140px;
			object-fit: cover;
		}

	.about_description {
		color: #FFF;
		font-family: Montserrat;
		font-size: 14px;
		margin: 0 120px 60px 120px;
	}

		.about_description p {
			text-align: justify;
		}

	.about_gallery {
		margin: 0 80px 0px 80px;
	}

	.carousel-control-next, .carousel-control-prev {
		width: 5%;
		position: relative !important;
	}

	.gallery_img {
		width: 32%;
		height: 180px;
		border-radius: 10px;
		overflow: hidden;
		background-color: #404040;
	}

		.gallery_img img {
			width: 100%;
			height: 180px;
			object-fit: cover;
		}

	.carousel-indicators {
		position: relative;
	}
</style>
