@model FundVM

@{
	var edit = ViewBag.Edit;
}
<input asp-for="Fund.Fund_ID" hidden />
<div class="dark_card fund_header d-flex flex-column">

	@if (!edit)
	{
		<div class="head_poster">

			<img src="@Model.Fund.Fund_Poster" />

		</div>
	}
	else
	{
		<div class="head_poster image_edit d-flex justify-content-end align-items-end">

			<input asp-for="Fund.Fund_Poster" id="FundPoster" hidden />

			<img src="@Model.Fund.Fund_Poster" id="FundPosterImg" />

			<a class="icon_tool" style="margin: 10px 20px" data-bs-toggle="modal" data-bs-target="#ChangePosterModal"><i class="bi bi-pencil-square"></i></a>

		</div>
	}

	<div class="head_under d-flex ">

		<div class="logo_container">

			@if (!edit)
			{
				<div class="under_logo">

					<img src="@Model.Fund.Fund_Logo" />

				</div>
			}
			else
			{
				<div class="under_logo image_edit  d-flex justify-content-center align-items-center">

					<input asp-for="Fund.Fund_Logo" id="FundLogo" hidden />

					<img src="@Model.Fund.Fund_Logo" id="FundLogoImg" />

					<a class="icon_tool" data-bs-toggle="modal" data-bs-target="#ChangeLogoModal"><i class="bi bi-pencil-square"></i></a>

				</div>
			}

		</div>

		<div class="under_info w-100 d-flex flex-column justify-content-between">

			<div class="under_info_name d-flex justify-content-between align-items-center">

				@if (!edit)
				{
					<span class="fund_name">@Model.Fund.Fund_Name</span>

					@if (Model.Subscription == null)
					{
						<a class="main_link" onclick="Subscribe(@Model.Fund.Fund_ID)"><i class="fund_sub bi bi-heart"></i></a>
					}
					else
					{
						<a class="main_link" onclick="UnSubscribe(@Model.Subscription.Subscription_ID)"><i class="fund_sub bi bi-heart-fill"></i></a>
					}


				}
				else
				{
					<input asp-for="Fund.Fund_Name" placeholder="Fund name" class="input" />

					<span asp-validation-for="Fund.Fund_Name" class="text-danger"></span>
				}

			</div>

			<div class="d-flex  align-items-center">

				<div class="under_info_stat d-flex flex-column">

					<span style="margin-bottom: 10px">Followed by @Model.SubscribersCount users</span>

					<span>Active projects: @Model.Projects?.Where(x => x.Project.Project_Status?.Project_Status_Name == "Active").Count() | Ended projects: @Model.Projects?.Where(x => x.Project.Project_Status?.Project_Status_Name == "Ended").Count()</span>

				</div>

				@if (edit)
				{
					<div class="d-flex flex-wrap flex-grow-1 justify-content-end w-100">

						@for (int i = 0; i < Model.Fund.Fund_Medias.Count; i++)
						{
							<input asp-for="@Model.Fund.Fund_Medias[i].Fund_Media_ID" hidden />
							<input asp-for="@Model.Fund.Fund_Medias[i].Fund_ID" hidden />
							<input asp-for="@Model.Fund.Fund_Medias[i].Media_Type_ID" hidden />
							<div class="d-flex m-2 justify-content-between align-items-center" style="min-width: 260px">

								<div class="info_logo" style="margin-right: 10px">

									<img src="@Model.Fund.Fund_Medias[i].Media_Type?.Media_Type_Image" />

								</div>

								<input asp-for="@Model.Fund.Fund_Medias[i].Fund_Media_URL" placeholder="url" class="input" style="width: auto" />

							</div>
						}

					</div>
				}

			</div>

		</div>

	</div>

	<div class="head_button_group d-flex justify-content-between align-items-center flex-wrap flex-grow-1">

		<ul class="head_nav nav nav-pills" id="pills-tab">

			<li class="nav-item">

				@if (!edit)
				{
					<a class="nav_link active" id="pills-project-tab" data-bs-toggle="pill" data-bs-target="#pills-project" role="tab" aria-controls="pills-project">Projects</a>
				}
				else
				{
					<a class="nav_link disabled" id="pills-project-tab" data-bs-toggle="pill" data-bs-target="#pills-project" role="tab" aria-controls="pills-project">Projects</a>
				}

			</li>

			<li class="nav-item">

				@if (!edit)
				{
					<a class="nav_link" id="pills-about-tab" data-bs-toggle="pill" data-bs-target="#pills-about" role="tab" aria-controls="pills-about">About</a>
				}
				else
				{
					<a class="nav_link active" id="pills-about-tab" data-bs-toggle="pill" data-bs-target="#pills-about" role="tab" aria-controls="pills-about">About</a>
				}

			</li>

			@if (User.IsInRole("Admin") || (User.IsInRole("Owner") && User.HasClaim("FundID", Model.Fund.Fund_ID.ToString())))
			{
				<li class="nav-item">

					@if (!edit)
					{
						<a class="nav_link" asp-action="FundDetails" asp-controller="Fund" asp-route-fund_id="@Model.Fund.Fund_ID" asp-route-edit="true"><i class="bi bi-gear-fill"></i></a>
					}
					else
					{
						<a class="nav_link" asp-action="FundDetails" asp-controller="Fund" asp-route-fund_id="@Model.Fund.Fund_ID">Exit</a>
					}

			</li>
			}

		</ul>

		@if (!edit)
		{
			<div class="d-flex justify-content-end">

				@foreach (var media in Model.Fund.Fund_Medias)
				{
					<a href="@media.Fund_Media_URL" target="_blank">

						<div class="info_logo">

							<img src="@media.Media_Type?.Media_Type_Image" />

						</div>

					</a>
				}

			</div>
		}



	</div>

</div>

<script>

	function Subscribe(fundId) {

		$.ajax({
			url: "@Url.Action("FundSubscribe", "Fund")",
			type: "POST",
			data: {
				fund_id: fundId
			},
			success: function () {
				location.reload();
			},
			error: function (xhr) {
				console.log(xhr.responseText);
			}
		});

	}

	function UnSubscribe(subdId) {

		$.ajax({
			url: "@Url.Action("FundUnSubscribe", "Fund")",
			type: "POST",
			data: {
				sub_id: subdId
			},
			success: function () {
				location.reload();
			},
			error: function (xhr) {
				console.log(xhr.responseText);
			}
		});

	}

</script>

<style>
	.fund_header {
		width: 100%;
		height: 520px;
		margin-bottom: 40px;
	}

	.head_poster {
		width: 100%;
		height: 200px;
		overflow: hidden;
	}

		.head_poster img {
			width: 100%;
			height: 200px;
			object-fit: cover;
		}

	.head_under {
		margin: 40px;
		height: 180px;
	}

	.logo_container {
		width: 180px;
		height: 180px;
		margin-right: 20px;
	}

	.under_logo {
		width: 180px;
		height: 180px;
		border-radius: 100000px;
		overflow: hidden;
	}

		.under_logo img {
			width: 180px;
			height: 180px;
			object-fit: cover;
		}

	.under_info {
	}

	.under_info_name {
	}

		.under_info_name i::before {
			vertical-align: -0.125em !important;
		}

	.fund_name {
		color: #7FF66C;
		font-family: Univermag;
		font-size: 40px;
	}

	.fund_sub {
		color: white;
		font-size: 40px;
	}

	.under_info_stat span {
		color: #FFF;
		font-family: Montserrat;
		font-size: 14px;
	}

	.head_button_group {
		margin: 10px 40px 10px 240px;
	}

	.nav_link {
		color: #FFF;
		font-family: Montserrat;
		font-size: 20px;
		margin-right: 120px;
	}

		.nav_link:hover {
			font-weight: 700;
			color: #7FF66C !important;
		}

		.nav_link.active {
			font-weight: 700;
			color: #7FF66C !important;
		}

	.head_nav {
	}

	.info_logo {
		width: 30px;
		height: 30px;
		margin-left: 10px;
		border-radius: 10000px;
		overflow: hidden;
	}

		.info_logo > img {
			width: 30px;
			height: 30px;
			object-fit: cover;
		}
</style>