@model Project

<form asp-action="ProjectCreate" asp-controller="Project">

	<input asp-for="Project_Status_ID" value="1" hidden />
	<input asp-for="Fund_ID" value="3" hidden />


	<div class="d-flex flex-column align-items-center w-100">

		<div class="dark_card project_header_card d-flex flex-column justify-content-between">

			<div class="project_poster image_edit d-flex justify-content-end align-items-end">

				@{
					var image = Model == null? "https://img.freepik.com/free-photo/sand-dunes-sahara-desert-morocco-3d-rendering_1142-50545.jpg?t=st=1701187790~exp=1701191390~hmac=160a71f61da29dee22d3975d0c3fe5f4b4aa3fe2754c388e98ba0d998ef35936&w=826" : Model.Project_Poster;
				}

				<img id="ProjectPosterImg" src="@image" />

				<input asp-for="Project_Poster" value="@image" hidden id="ProjectPoster" />

				<a class="icon_tool" style="margin: 10px 20px" data-bs-toggle="modal" data-bs-target="#ChangePosterModal"><i class="bi bi-pencil-square"></i></a>

			</div>

			<div class="project_info_group d-flex flex-fill justify-content-between">

				<div class="d-flex flex-column flex-fill justify-content-between" style="margin-right: 20px">

					<input asp-for="Project_Name" class="input project_name" placeholder="Enter name of the project" />

					<textarea asp-for="Project_Description" class="input project_description" placeholder="Type the information about the project to let people know more about it"></textarea>

				</div>

				<div class="payment_card d-flex flex-column flex-fill justify-content-between">

					<div class="card d-flex flex-column flex-fill" style="padding: 20px;">

						<div class="project_goal d-flex flex-wrap align-items-center justify-content-between">

							<span>Goal:</span>

							<div>

								<span style="margin-right: 10px">$</span>

								<input asp-for="Project_Goal" class="input" placeholder="Enter a goal sum" style="	max-width: 160px;" />

							</div>

						</div>

						@{
							List<Payment_Type> paymentTypes = ViewBag.PaymentType;
						}


						@for (int i = 0; i < paymentTypes.Count; i++)
						{
							<div class="payment_method d-flex align-items-center">

								<input asp-for="@Model.Project_Payments[i].Payment_Type_ID" value="@paymentTypes[i].Payment_Type_ID" hidden />

								<div class="payment_img">

									<img src="@paymentTypes[i].Payment_Type_Image" />

								</div>

								<input asp-for="@Model.Project_Payments[i].Payment_URL" class="input" placeholder="https//:" />

							</div>
						}

						@* @for (int i = 0; i < Model.Project_Payments?.Count; i++)
						{
						<div class="payment_method d-flex align-items-center">

						<div class="payment_img">

						<img src="@Model.Project_Payments[i]?.Payment_Type?.Payment_Type_Image" />

						</div>

						<input asp-for="@Model.Project_Payments[i].Payment_URL" class="input" placeholder="https//:" />

						</div>
						}	 *@

					</div>

				</div>

			</div>

		</div>

		<div class="d-flex w-100 justify-content-around align-items-center">

			<a class="main_link" style="max-width: 360px; width: 100%;" asp-action="Login" asp-controller="Donor"><span>Cancel</span> </a>

			<button type="submit" class="main_btn" style="max-width: 360px;    width: 100%;"><span>Save</span> </button>

		</div>

	</div>
</form>

<div class="modal fade " id="ChangePosterModal" tabindex="-1" aria-hidden="true">

	<div class="modal-dialog modal-dialog-centered">

		<div class="modal-content d-flex flex-column justify-content-between align-items-center">

			<input placeholder="Put image url" class="input" id="PosterModalInput" />

			<a class="main_btn" onclick="ChangePoster_Logo('Poster')" style=" width: 100%;" data-bs-dismiss="modal"><span>Save</span> </a>

		</div>

	</div>

</div>

<script>

	function ChangePoster_Logo(type) {

		var url = document.getElementById('PosterModalInput').value;

		var inputElement = document.getElementById('ProjectPoster');

		var imageElement = document.getElementById('ProjectPosterImg');

		inputElement.setAttribute('value', url);

		imageElement.src = url;


	}

</script>

<style>

	.project_header_card {
		height: auto;
		width: 100%;
		margin-bottom: 40px;
	}

	.project_poster {
		max-height: 200px;
		width: 100%;
		overflow: hidden;
	}

		.project_poster > img {
			max-height: 200px;
			width: 100%;
			object-fit: cover;
		}

	.project_info_group {
		margin: 40px 20px 20px 20px;
	}

	.project_name {
		font-family: Univermag;
		font-size: 20px;
		margin-bottom: 20px;
	}

	.project_description {
		height: 100%;
		margin-bottom: 20px;
	}

	.payment_card {
		margin-left: 20px;
		max-width: 360px;
		margin-bottom: 20px;
	}

	.project_goal {
		font-family: Montserrat;
		font-size: 14px;
		font-weight: 700;
		color: white;
	}

	.payment_method {
		margin-top: 10px;
	}

	.payment_img {
		width: 30px;
		height: 30px;
		border-radius: 5px;
		margin-right: 10px;
		overflow: hidden;
	}

		.payment_img > img {
			width: 30px;
			height: 30px;
			object-fit: cover;
		}
</style>